.card{
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.481);
    width: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputs{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.inputs input{
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.399);
}
button{
    width: 100%;
    height: 35px;
    border-radius: 7px;
    background-color: #00bf7f;
    border: none;
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.498);

}
button:active{
    background-color: #008559;
    transform: translateY(5px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.399);
    border-radius: 0px;
}